@import './styles/mixins';
@import './styles/colors';

.switch__container {
  width: 300px;
  flex-shrink: 0;
  order: 0;
  margin-top: 15%;
  margin-left: 10%;
  position: absolute;
}

.signs__container {
  position: relative;
  width: 100%;
  height: 400px;
}

.design__signs {
  position: absolute;
  transform-style: preserve-3d;
  width: 130px;
  margin-top: 7%;
}

@keyframes flip{
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}

.animate {
  animation: flip 2s ease forwards;
}

.calcTopLeft {
  left: 20%;
}

.calcTopRight {
  right: 20%;  
}

.calcBottomLeft {
  left: 20%;
  bottom: 10%;
}

.calcBottomRight {
  right: 20%; 
  bottom: 10%; 
}

.active {
  display: block;
}

.disabled {
  display: none;
}