$main-calc-btn-bg: #E3E3E3;
$main-calc-btn-borderColor: #2E6A8F;
$conv-btn-bg: #CAC2B2;
$unit-conv-btn-borderColor: #EDA92A;
$curr-conv-btn-borderColor: #C89331;
$switch-btn-color: #737373;
$switch-btn-bg: #F8EACE;
$switch-btn-borderColor: #B3602C;